<div class="country-header">
    <img src="{{flag}}" alt="{{name}}" width="60", height="40"/>
    <p class="country-name">{{name}}</p>
</div>
<div>
    <ul class="country-list">
        <li class="country-text"><b>Capital:</b> {{capital}}</li>
        <li class="country-text"><b>Population:</b> {{population}}</li>
        <li class="country-text"><b>Languages:</b>
            {{#each languages}}
                {{this.name}}
            {{/each}}
        </li>
    </ul>
</div>